.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #111;
  color: white;
  width: 96vw;
  position: fixed;
}

.navbar-left img.netflix-logo {
 
  height: 40px;
}
.nav-links a{
  display: flex;
  align-items: center;
  color: red;
}
.nav-links li {
  display: inline-block;
  margin-right: 20px;
  color: white;
}

.navbar-right {
  display: flex;
  gap: 1rem;
  font-size: 14px;
  color: white;
}

.username {
  margin-left: 10px;
  font-weight: bold;
  color: white;
}

.navbar-logout {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: white;
  margin-left: 15px;
}

.logout-icon {
  font-size: 20px;
}

.logout-text {
  font-size: 14px;
}
