.n {
  /* display: flex; */
  background: #000000de;
  width: 100vw;
  height: full;
}

.NetflixHome {
  display: flex;
}

.NetflixHome-item {
  margin-left: 15px;
  margin-top: 35px;
  border-radius: 20px;

}


.NetflixHome_player {
  display: flex;
  margin: 5px;
  margin-left: 100px;
  border-radius: 15px;
  overflow: hidden; 
  width: 100vw;
}

.NetflixHome_details {
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 70px;
}

.NetflixHome_details p {
  padding: 10px;
}

.details_btn {
  padding: 10px 40px;
  color: white;
  background: gray;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.3s ease,
   background 0.3s ease;
}

.details_btn:hover {
  transform: scale(1.05);
  background: #4b4b4b;
}

.N_H_ReactPlayer {  
  margin-top: 40px;
  
}

.NH_video-item {
  background-color: #222;
  border-radius: 8px;
  width: 95%;
  max-width: 520px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  position: relative;
  
}


.nh-video-item p {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  margin-top: 20rem;
  z-index: 10;
  font-weight: bold;
  margin-left: 15px;
  position: absolute;


}